@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 style="margin-bottom: 15px;" class="display-4">Movie Successfully Added!</h1>
</div>