@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 style="margin-bottom: 15px;" class="display-4">Get to Know Joel</h1>
    <br />
    <div style="display: inline-block; margin-right: 50px;">
        <h3>Looking for a laugh?</h3>
        <a href="https://www.qwcomedy.com/">https://www.qwcomedy.com/</a>
    </div>
    <div style="display: inline-block; margin-left: 50px;">
        <h3>Looking for a good podcast?</h3>
        <a href="https://baconsale.com/">https://baconsale.com/</a>
    </div>
    <br /><br />
    <img style="border-radius: 20px; width: 70%" src="~/img/baconsalekate.jpg" />
</div>