@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="margin-bottom: 15px;" class="display-4">The Joel Hilton Film Collection</h1>
    <img style="border-radius: 20px; width: 70%" src="img/JoelHiltonHeadshot.jpg"/>
</div>
